<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>
</head>
<style>
       .text{
            color:#303030;
            font-size: 25px;
            font-family: system-ui;
        }
        html{
            height:100%;
            background:linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
        }

.outer{
    margin: 50px auto;
    width:50%;
    padding-right: 50%;
}
.inner{
    float:left;
    padding: 0 230px 0 0;
    margin-left:20px;

}
h1{
    text-align: center;
    font-family:system-ui;
}
</style>
<body>
    <h1>Description</h1>
    <div class="outer">
        <div class="inner">
        <img src="static/fertilizer.jpg" width="500" height="320">
        
    </div>
    </div>
    <div class="text">
        <p>{{description}}</p>
    </div><br>
</body>
</html>