<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrown</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> 

</head>
<body>
    <div class="logo"><a href="#"><img src="static/agrown.png" width="80px"height="46px"></a></div>
    <ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="index.html">Home</a></li>
  <li><a href="diseaseform.html">Disease</a></li>
  <li><a href="soilform.html">Soil</a></li>
  <li><a href="fertilizerform.html">Fertilizer</a></li>
</ul>
  <img src="static/home.png" width="100%"height="810px">


<div class="about">
<p>About Us</p>
</div>
<div class="container">
  <img src="static/agri.png"width="450px"height="350">
  <div class="text">
<h3>We are the team <span class="agrown">Agrown</span><h3>
  <div class="farmer">
  <h5>IMROVING AGRICULTURE,IMPROVING<br><br>LIVES,CULTIVATING CROPS TO MAKE <br><br>FARMERS INCREASE PROFIT.</h5>
  <br>
</div>
  </div>
  <div class="milan">
  <p>We use state-of-art Machine learning and Deep learning <br>technologies to help you guide through the entire farming <br>
  process.Make informed decisions to understand the <br>demographics of your area , understand the factors that affect<br>
your crop and keep them healthy for a super awesome success yeild.<br>  </p>
</div>
<br>
<br>
<div class="service">
  <p>Our Services</p>
</div>
<div class="box-area">
  <div class="single-box">
    <div class="img-area"></div>
    <div class="img-text1">
      <span class="header-text"><strong>SOIL</strong></span>
      <p>Recommendation about the type<br>of crops to be cultivated which is <br>best suited for the respective <br>conditions.</p>
      <a href="soilform.html">
        <button>More</button>
      </a>
    </div>
  </div>
  <div class="single-box">
    <div class="img-area"></div>
    <div class="img-text1">
      <span class="header-text"><strong>CROP DISEASE</strong></span>
      <p>Predicting the name and the causes <br>of crop disease and suggestions <br>to cure it. </p>
      <a href="diseaseform.html">
      <button>More</button>
      </a>
    </div>
  </div>
  <div class="single-box">
    <div class="img-area">
      <!-- <img src="static/images/crop.jpg" alt="Flowers in Chania"> -->
    </div>
    <div class="img-text1">
      <span class="header-text"><strong>FERTILIZER</strong></span>
      <p>Recommendation about the type<br>of crops to be fertilized  <br>best suited for the particular soil and <br>recommendation crop.</p>
      <a href="fertilizerform.html">
      <button>More</button>
      </a>
    </div>
  </div>
</div>
</div>
<br><br>

<div class="footer">

</div>

</body>
  

</html>